# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
*.env

# Data
data/processed/*          # Ignore all files inside processed
!data/processed/.gitkeep  # Keep the folder structure
data/raw/*.csv            # Do NOT ignore CSVs in raw
!data/raw/spotify.csv     # Track the main CSV

# Plots
plots/*                   # Ignore all files inside plots
!plots/.gitkeep           # Keep the folder structure

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
